<div class="card-poster-collection">
  <header>
    <a [routerLink]="['/details/movie', media.id]">
      <app-image-lazyload
        [src]="helpersService.mediaImage(media.poster_path!, posterSize)"
        [alt]="media.title"
      ></app-image-lazyload>
    </a>
  </header>
  <div class="content">
    <h2 class="title">{{ media.title }}</h2>
    <p class="overview">{{ media.overview }}</p>
    <div class="learn-more">
      <a [routerLink]="['/details/movie', media.id]">Learn More</a>
    </div>
  </div>
</div>
